---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import ManPageHero from '@/components/ManPageHero.astro'
import PageHead from '@/components/PageHead.astro'
import TuiCard from '@/components/port/TuiCard'
import TuiHeading from '@/components/TuiHeading.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
  <PageHead slot="head" title="Home" />
  <section class="pt-3">
    <ManPageHero />
  </section>
  <section class="mt-6 flex flex-col pt-3">
    <!-- Tab Section -->
    <div class="relative z-10 w-fit">
      <TuiCard client:load className="compact px-6 pt-6 pb-3">
        <TuiHeading level={2}>Latest posts</TuiHeading>
      </TuiCard>
    </div>

    <!-- Body Section -->
    <ul class="flex flex-col gap-y-4 pt-6">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="mt-8 flex justify-center">
      <TuiCard client:load className="group-button compact">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) +
            ' group hover:bg-transparent'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </TuiCard>
    </div>
  </section>
</Layout>
