---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { Image } from 'astro:assets'
import { ICON_MAP } from '@/consts'
import type { SocialLink } from '@/types'
import { Icon } from 'astro-icon/components'
import { SOCIAL_LINKS } from '@/consts'
interface Props {
  links: SocialLink[]
}

let { links } = Astro.props
links = SOCIAL_LINKS
const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-xl border flex bg-primary-foreground/50 backdrop-blur-sm">
      <div class="flex flex-col  space-y-1.5">
        <div class="w-full h-full md:block hidden ">
          <Image
          src="/boycat.png"
          alt="boy"
          width={1200}
          height={630}
          class=" w-full h-full object-cover noise translate-x-10 overflow-visible"
          />
        </div>
      </div>
      <div class="md:pl-9">
        <div class="flex flex-col space-y-1.5 p-6 pb-4 pt-5">
          <h3 class="text-4xl leading-none font-medium">Aaron Wu</h3>
          <p class="text-muted-foreground text-md">
            [ air-uhn woo, ar- ] &bull; <span class="font-medium">NOUN</span>
             <!-- SOFTWARE ENGINEER -->
          </p>
        </div>
        <div class="p-6 pt-0 space-y-2">
          <p class="text-foreground text-md font-light ">
            A passionate learner that dabbles in hardware, programming, and literally anything that piques their interest!
            
          </p>
          <p class="text-foreground text-md font-light ">
            Based in <u><a href="https://www.google.com/search?q=San+Diego">San Diego</a></u> and <u><a href="https://www.google.com/search?q=Merced,California">Merced</a></u> and currently open to new opportunities and collaborations.
          </p>
        </div>
      </div>
      <div class="flex items-center justify-center w-full max-w-1/6">
        <div class="flex flex-col justify-between space-y-10">
          <ul class="flex flex-col gap-5 pt-15" role="list">
            {
              links.map(({ href, label }) => (
                <li class="hover:bg-secondary rounded-md transition transition-duration-300 ease-in-out">
                  <Link
                    href={href}
                    aria-label={label}
                    title={label}
                    class={buttonVariants({ variant: 'ghost', size: 'icon' })}
                    external
                  >
                    <Icon
                      name={
                        ICON_MAP[label as keyof typeof ICON_MAP] ||
                        'lucide:message-circle-question'
                      }
                      class="size-4"
                    />
                  </Link>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>

  </section>
  <section class="flex flex-col gap-y-2">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
