---
import '@/styles/global.css'
import '@/styles/typography.css'

import BackgroundWrapper from '@/components/BackgroundWrapper'
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'
import { ClientRouter } from 'astro:transitions'
const { isWide = false } = Astro.props
---

<!doctype html>
<html lang={SITE.locale}>
  <Head>
    <slot name="head" />
    <ClientRouter />
  </Head>
  <body class="noise">
    <BackgroundWrapper client:load>
      <div
        class="relative z-10 flex h-fit min-h-screen flex-col gap-y-6 font-sans"
      >
        <!-- Gradient Mesh for top fade -->
        <div
          class="from-background pointer-events-none fixed top-0 left-0 z-40 h-32 w-full bg-gradient-to-b to-transparent"
        >
        </div>
        <Header />
        <main class="grow">
          <div
            class={cn(
              'mx-auto flex grow flex-col gap-y-6 px-4',
              !isWide && 'max-w-3xl',
            )}
          >
            <slot />
          </div>
        </main>
        <Footer />
      </div>
    </BackgroundWrapper>
  </body>
</html>
